FrontEnd/SazonWareWA/SazonWareBO/Connected Services/ServicioWS/ServicioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.gasto.soft.mibanco.pe/" targetNamespace="http://services.gasto.soft.mibanco.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarGasto" type="tns:eliminarGasto" />
  <xs:element name="eliminarGastoResponse" type="tns:eliminarGastoResponse" />
  <xs:element name="insertarGasto" type="tns:insertarGasto" />
  <xs:element name="insertarGastoResponse" type="tns:insertarGastoResponse" />
  <xs:element name="listarGastos" type="tns:listarGastos" />
  <xs:element name="listarGastosPorMes" type="tns:listarGastosPorMes" />
  <xs:element name="listarGastosPorMesResponse" type="tns:listarGastosPorMesResponse" />
  <xs:element name="listarGastosResponse" type="tns:listarGastosResponse" />
  <xs:element name="modificarGasto" type="tns:modificarGasto" />
  <xs:element name="modificarGastoResponse" type="tns:modificarGastoResponse" />
  <xs:element name="obtenerGastoPorId" type="tns:obtenerGastoPorId" />
  <xs:element name="obtenerGastoPorIdResponse" type="tns:obtenerGastoPorIdResponse" />
  <xs:complexType name="listarGastosPorMes">
    <xs:sequence>
      <xs:element minOccurs="0" name="mes" type="xs:int" />
      <xs:element minOccurs="0" name="anio" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGastosPorMesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gasto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gasto">
    <xs:sequence>
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idGasto" type="xs:int" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
      <xs:element minOccurs="0" name="motivo" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarGasto">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="motivo" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarGastoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarGasto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGasto" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="motivo" type="xs:string" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="monto" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarGastoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGastos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarGastosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gasto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarGasto">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGasto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarGastoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerGastoPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGasto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerGastoPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:gasto" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>